/* Thème Clair */
:root {
  --couleur-fond: #D8F3DC;
  --couleur-texte: #081C15;
  --couleur-accent: #2D6A4F;
  --couleur-accent-action: #40916C;
  --couleur-texte-secondaire: #1B4332;
  --couleur-surface-fond: rgba(255, 255, 255, 0.4);
  --couleur-surface-bordure: rgba(0, 0, 0, 0.1);
  --couleur-tag-fond: rgba(0, 0, 0, 0.05);
  --couleur-overlay-fond: rgba(255, 255, 255, 0.8);
  --couleur-ombre: rgba(0, 0, 0, 0.15);
}

/* Thème Sombre */
body.dark-theme {
  --couleur-fond: #0b1020;
  --couleur-texte: #f0f0f0;
  --couleur-accent: #f0f0f0;
  --couleur-accent-action: #f0f0f0;
  --couleur-texte-secondaire: #a0a0a0;
  --couleur-surface-fond: rgba(39, 39, 42, 0.7);
  --couleur-surface-bordure: rgba(255, 255, 255, 0.08);
  --couleur-tag-fond: rgba(255, 255, 255, 0.1);
  --couleur-overlay-fond: rgba(11, 16, 32, 0.95);
  --couleur-ombre: rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--couleur-fond);
  color: var(--couleur-texte);
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
}

h1, h2 {
  color: var(--couleur-accent);
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  border-bottom: 2px solid var(--couleur-accent);
  padding-bottom: 0.5rem;
  margin-top: 2.5rem;
}

a {
  color: var(--couleur-accent-action);
  text-decoration: none;
  font-weight: 500;
}